<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hotels a Hotels Category Responsive Web Template | Home : W3layouts</title>

    <link href="//fonts.googleapis.com/css?family=Spartan:400,500,600,700,900&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style-starter.css">
</head>
<body>
    <!--w3l-header-->

    <header class="w3l-header-nav">
        <!--/nav-->
        <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="../assets/images/hotels.png" alt="Your logo" style="height:35px;" /> MVC Otel Projesi
                </a>
                <!-- if logo is image enable this
                            <a class="navbar-brand" href="#index.html">
                                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                            </a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Ana Sayfa</a>
                        </li>
                        <li class="nav-item about__active">
                            <a class="nav-link" href="/Hakkimizda">Hakkımızda</a>
                        </li>
                        <li class="nav-item services__active">
                            <a class="nav-link" href="/Hizmetlerimiz">Hizmetlerimiz</a>
                        </li>
                        <li class="nav-item contact__active">
                            <a class="nav-link" href="/Iletisim">İletişim</a>
                        </li> 
                        <li class="nav-item contact__active">
                            <a class="nav-link" href="/login">Giriş Yap</a>
                        </li>
                    </ul>
                    <a href="/Rezervasyon" class="ml-3 book btn btn-secondary btn-style">Rezervasyon</a>
                </div>
            </div>
        </nav>
        <!--//nav-->
    </header>
    <!-- //w3l-header -->
   
    @RenderBody()
    @Html.Action("FooterPartial","Footer")
 